<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md">
        <img src="../../../img/curso-ajedrez.jpg" alt="Banner del Curso de Ajedrez">
      </div>
      <div class="col-md">
        <div class="card-body">
          <h3 class="card-title">Curso de Ajedrez</h3>
          <p class="card-text">Nuestro curso de ajedrez para niños es la oportunidad perfecta para que tus pequeños descubran un juego que estimula el pensamiento estratégico, la concentración y la creatividad. A través de lecciones divertidas y dinámicas, nuestros experimentados instructores enseñarán a los niños las reglas básicas del ajedrez, así como tácticas y estrategias fundamentales.</p>
          <p class="card-text"><small class="text-muted">Up to Date</small></p>
        </div>
      </div>
    </div>
  </div>