<div class="block menu1">

  <div class="buttons-container">
    <a href="#" class="button button--is-active" data-target="coffeeMenu">Bebidas</a>
    <a href="#" class="button" data-target="postresMenu">Postres</a>
    <a href="#" class="button" data-target="combosMenu">Combos</a>
  </div>
  <!-- To Do: Add Limonada 12oz $1.25, Te Frio de Limon 12oz $1.25, Capuchino 8oz $3.00, 10oz $3.75-->
  <!-- Start Bebidas Menu -->
  <div class="menu menu--is-visible" id="coffeeMenu" data-aos="fade-up">
    
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Cafe Negro</h3>
        <span class="item__dots"></span>
        <span class="item__price">$0.75</span>
      </div>
      <p class="item__description">Bebida Caliente de 8 onzas.</p>
    </div>
    
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Capuchino</h3>
        <span class="item__dots"></span>
        <span class="item__price">$3.00</span>
      </div>
      <p class="item__description">Bebida Caliente de 8 onzas.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Frozen de Cafe</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.75</span>
      </div>
      <p class="item__description">Bebida Fria de 12 onzas, delicioso frozen de cafe (Recomendado).</p>
    </div>
    
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Frozen de Fruta</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.75</span>
      </div>
        <p class="item__description">Bebida 12 onzas, sabores Fresa, Arrayan, Mango (Preguntar disponibilidad).</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Limonada</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.25</span>
      </div>
      <p class="item__description">Bebida Fria de 12 onzas.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Te Frio de Limon</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.25</span>
      </div>
      <p class="item__description">Bebida Fria de 12 onzas.</p>
    </div>
    
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Sodas</h3>
        <span class="item__dots"></span>
        <span class="item__price">$0.75</span>
      </div>
      <p class="item__description">Coca Cola, Coca Cola Zero.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Sodas Cascada</h3>
        <span class="item__dots"></span>
        <span class="item__price">$0.65</span>
      </div>
      <p class="item__description">Pepsi, Salutaris.</p>
    </div>
  </div> <!-- End Bebidas Menu -->

  <!-- Start Postres Menu -->
  <div class="menu" id="postresMenu">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Tartaletas</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.50</span>
      </div>
      <p class="item__description">Deliciosas tartaletas con relleno de frutas frescas y una base crujiente. (Recomendado)</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Budin</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.50</span>
      </div>
      <p class="item__description">Ricos mini pasteles con relleno de frutas frescas y una base crujiente.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Volteado de Guineo</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.50</span>
      </div>
      <p class="item__description">Un delicioso postre casero y reconfortante, a base de pan, para acompañar tu cafe.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Cheesecake</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Un clásico cheesecake con una base de galleta y un suave relleno de queso crema, coronado con salsa de fruta.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Quesadilla</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Delicioso pan horneado con textura esponjosa y sabor unico, perfecto para acompañar tu café o endulzar cualquier momento.</p>
    </div>
  </div> 
  <!-- End Postres Menu -->

  <!-- Start Coffee Menu -->
  <div class="menu" id="combosMenu" data-aos="fade-up">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">#1 - La Consentida</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Tartaleta y Cafe Negro</p>
      <p class="item__description">Suave base rellena e de una ligera y deliciosa crema pastelera decorada con unas riquisimas lascas de melocoton.</p>
    </div>
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">#2 - Dulce Pecado</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Budin y Cafe Negro</p>
      <p class="item__description">Ligero toque dulce y suave pan de budin o volteado de guineo (preguntar existencia).</p>
    </div>
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">#3 - Deliciosa Tentacion</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.50</span>
      </div>
      <p class="item__description">Cheesecake y Cafe Negro</p>
      <p class="item__description">Cremosa y delciosa porcion de de cheesecake ligeramente dulce decorado con una capa de fresa fresca.</p>
    </div>
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">#4 - La Tradicional</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.50</span>
      </div>
      <p class="item__description">Quesadilla y Cafe Negro</p>
      <p class="item__description">Suave quesadilla horneada que acompaña perfectamente un reconfortante café negro. Disfruta de la combinación perfecta entre la textura esponjosa de la quesadilla y la intensidad del café.</p>
    </div>
  </div> <!-- End Combos Menu -->
  
</div> <!-- End block -->

<!-- <script src="./js/mycart.js"></script> -->
<script src="./js/mycart-custom.js"></script>