<div class="block menu1">

  <div class="buttons-container">
    <a href="#" class="button button--is-active" data-target="coffeeMenu">Bebidas</a>
    <a href="#" class="button" data-target="postresMenu">Postres</a>
    <a href="#" class="button" data-target="combosMenu">Combos</a>
  </div>
  
  <!-- Start Bebidas Menu -->
  <div class="menu menu--is-visible" id="coffeeMenu" data-aos="fade-up">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Frozen de Fruta</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.75</span>
      </div>
        <p class="item__description">Bebida Fria de 20 onzas, sabores Fresa, Arrayan, Mango (Preguntar disponibilidad).</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Frozen de Cafe</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.75</span>
      </div>
      <p class="item__description">Bebida Fria de 20 onzas, delicioso frozen de cafe (Recomendado).</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Cafe Negro</h3>
        <span class="item__dots"></span>
        <span class="item__price">$0.75</span>
      </div>
      <p class="item__description">Bebida Caliente de 8 onzas.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Sodas</h3>
        <span class="item__dots"></span>
        <span class="item__price">$0.75</span>
      </div>
      <p class="item__description">Coca Cola, Coca Cola Zero.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Sodas Cascada</h3>
        <span class="item__dots"></span>
        <span class="item__price">$0.65</span>
      </div>
      <p class="item__description">Pepsi, Salutaris.</p>
    </div>
  </div> <!-- End Bebidas Menu -->

  <!-- Start Postres Menu -->
  <div class="menu" id="postresMenu">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Tartaletas</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.50</span>
      </div>
      <p class="item__description">Deliciosas tartaletas con relleno de frutas frescas y una base crujiente. (Recomendado)</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Budin</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.50</span>
      </div>
      <p class="item__description">Ricos mini pasteles con relleno de frutas frescas y una base crujiente.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Volteado de Guineo</h3>
        <span class="item__dots"></span>
        <span class="item__price">$1.50</span>
      </div>
      <p class="item__description">Un delicioso postre casero y reconfortante, a base de pan, para acompañar tu cafe.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Cheesecake</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Un clásico cheesecake con una base de galleta y un suave relleno de queso crema, coronado con salsa de fruta.</p>
    </div>
  </div> 
  <!-- End Postres Menu -->

  <!-- Start Coffee Menu -->
  <div class="menu" id="combosMenu" data-aos="fade-up">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Combo #1</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Tartaleta y Cafe Negro</p>
    </div>
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Combo #2</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.00</span>
      </div>
      <p class="item__description">Budin y Cafe Negro</p>
    </div>
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Combo #3</h3>
        <span class="item__dots"></span>
        <span class="item__price">$2.50</span>
      </div>
      <p class="item__description">Cheesecake y Cafe Negro</p>
    </div>
  </div> <!-- End Combos Menu -->
  
</div> <!-- End block -->

<!-- <script src="./js/mycart.js"></script> -->
<script src="./js/mycart-custom.js"></script>